.product-title {
  font-size: 30px;
  letter-spacing: 4px;
  color: #444444;
}
.product-price {
  font-size: 25px;
  letter-spacing: 3px;
  color: #444444;
}
.product-description {
  color: gray;
  font-size: 14px;
}
.attributes-heading {
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  letter-spacing: 0.1em;
  font-size: 13px;
  vertical-align: middle;
}

.attribute-img {
  border: 1px solid gray;
}

.custom-option-description {
  font-weight: normal !important;
  display: block !important;
  white-space: nowrap !important;
  min-height: 1.2em !important;
  padding: 0px 2px 1px !important;
  width: 5px !important;
}

.custom-box {
  height: 40px;
  width: 50px;
  background-color: transparent;
  color: black;
  border: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-box:hover {
  cursor: pointer;
  margin: 0 !important;
}
.product-description-links span:hover {
  cursor: pointer;
  color: #00b1b7;
}
.product-description-category {
  display: flex;
  /* justify-content: ; */
}
.product-description-links span {
  text-decoration: underline;
  margin: 0px 10px;
}
.description-social-icon-wrapper {
  color: #bfbfbf;
  background-color: #eee !important;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  margin-right: 5px;
  margin-left: 5px;
}
.description-social-icon {
  color: gray;
}
.description-social-icon-wrapper:hover {
  background-color: #666 !important;
  cursor: pointer;
}
.description-social-icon:hover {
  color: white;
}
.product-description-tab {
  margin-top: 0;
  color: #444444;
  font-weight: 400;
  letter-spacing: 2px;
}
.product-description-tab + p {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  line-height: 26px;
}
/*Media Queries */
@media (max-width: 992px) {
  .marginTopAndBottom {
    margin-top: 30px;
    /* margin-bottom: 20px; */
  }
}
