.footer-wrappper {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  margin-top: auto;
  width: 100% !important;
  max-height: 300px;
}

.footer-heading {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 500;
  color: gray;
}
.footer-list {
  margin: 0 !important;
  padding: 0px;
  text-align: left !important;
}
.footer-list ul {
  padding: 0px;
  text-decoration: none;
  margin: 0 !important;
}
.footer-list ul li {
  list-style-type: none;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #666;
}
.text-footer {
  color: #666;
  list-style-type: none;
  margin-top: 10px;
  font-size: 12px;
}

.footer-list ul li:hover {
  cursor: pointer;
  color: #00b1b7;
  text-decoration: underline;
}
